<section class="portfolio ">
	<div class="portfolio__container container">
		<div class="portfolio__info">
			<h1 class="portfolio__heading text-reset">
				Портфолио
			</h1>
			<p class="portfolio__descr text-reset">
				Мои работы
			</p>
		</div>
		<ul class="portfolio__list list-reset">
			<li class="portfolio__item ">
				<article class="project">
					<div class="project__info">
						<h2 class="project__heading text-reset">
							Zooov
						</h2>
						<p class="project__descr text-reset">
							Магазин здорового питания для питомцев
						</p>
					</div>
					<div class="project__image">
						<img src="img/portfolio/zooov.jpg" alt class="project__img">
					</div>
					<a href="https://grafit-off.github.io/Zooov/build/" class="project__link link-reset"
						aria-label="Просмотреть работу" target="_blank" rel="noopener noreferrer"></a>
				</article>
			</li>
			<li class="portfolio__item ">
				<article class="project">
					<div class="project__info">
						<h2 class="project__heading text-reset">
							StreetSter
						</h2>
						<p class="project__descr text-reset">
							Магазин спортивных велосипедов
						</p>
					</div>
					<div class="project__image">
						<img src="img/portfolio/StreetSter.jpg" alt class="project__img">
					</div>
					<a href="https://grafit-off.github.io/streetster/" class="project__link link-reset"
						aria-label="Просмотреть работу" target="_blank" rel="noopener noreferrer"></a>
				</article>
			</li>
			<li class="portfolio__item ">
				<article class="project">
					<div class="project__info">
						<h2 class="project__heading text-reset">
							Vorman
						</h2>
						<p class="project__descr text-reset">
							Интенсив по наращиванию ресниц
						</p>
					</div>
					<div class="project__image">
						<img src="img/portfolio/intense.jpg" alt class="project__img">
					</div>
					<a href="https://grafit-off.github.io/makeface/" class="project__link link-reset"
						aria-label="Просмотреть работу" target="_blank" rel="noopener noreferrer"></a>
				</article>
			</li>
			<li class="portfolio__item ">
				<article class="project">
					<div class="project__info">
						<h2 class="project__heading text-reset">
							Нетмонет
						</h2>
						<p class="project__descr text-reset">
							Платформа "Нетмонет"
						</p>
					</div>
					<div class="project__image">
						<img src="img/portfolio/nocoins.jpg" alt class="project__img">
					</div>
					<a href="https://grafit-off.github.io/nocoins/build/" class="project__link link-reset"
						aria-label="Просмотреть работу" target="_blank" rel="noopener noreferrer"></a>
				</article>
			</li>
			<li class="portfolio__item ">
				<article class="project">
					<div class="project__info">
						<h2 class="project__heading text-reset">
							Dream-Car
						</h2>
						<p class="project__descr text-reset">
							Магазин ковриков для авто
						</p>
					</div>
					<div class="project__image">
						<img src="img/portfolio/dream-car.jpg" alt class="project__img">
					</div>
					<a href="https://grafit-off.github.io/Dream-Car/build/" class="project__link link-reset"
						aria-label="Просмотреть работу" target="_blank" rel="noopener noreferrer"></a>
				</article>
			</li>
			<li class="portfolio__item ">
				<article class="project">
					<div class="project__info">
						<h2 class="project__heading text-reset">
							Waxom
						</h2>
						<p class="project__descr text-reset">
							Дизайн студия "Waxom"
						</p>
					</div>
					<div class="project__image">
						<img src="img/portfolio/waxom.jpg" alt class="project__img">
					</div>
					<a href="https://grafit-off.github.io/Waxon-Design-Studio/" class="project__link link-reset"
						aria-label="Просмотреть работу" target="_blank" rel="noopener noreferrer"></a>
				</article>
			</li>
			<li class="portfolio__item ">
				<article class="project">
					<div class="project__info">
						<h2 class="project__heading text-reset">
							Bounce
						</h2>
						<p class="project__descr text-reset">
							Вэб-студия "Bounce"
						</p>
					</div>
					<div class="project__image">
						<img src="img/portfolio/bounce.jpg" alt class="project__img">
					</div>
					<a href="https://grafit-off.github.io/bouncy/" class="project__link link-reset"
						aria-label="Просмотреть работу" target="_blank" rel="noopener noreferrer"></a>
				</article>
			</li>
		</ul>
	</div>
</section>