*,
*::before,
*::after {
	box-sizing: inherit;
}

.html {
	box-sizing: border-box;

	height: 100%;
	width: 100%;
	scroll-behavior: smooth;

	font-size: 100%;
}

.body {
	width: 100%;
	height: 100%;

	background-color: var(--color-bg);

	color: var(--color-font);

	font-family: $ff;
	font-size: $fz-text;
	line-height: 1;

	transition: color 1s ease;
}
.wrap {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.main-content {
	overflow: hidden;
}

.lock {
	overflow: hidden;
}

.ios-lock {
	overflow: hidden;
	position: relative;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.container {
	max-width: $maxWidthContainer + 30px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

@media (max-width: $md2+px) and (orientation: portrait) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: $md3+px) and (orientation: portrait) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-height: $md4+px) and (max-width: 1023px) and (orientation: landscape) {
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}
}
