.blog-post {
	&:first-child {
		.blog-post__image {
			height: auto;
		}
	}

	&:nth-child(2) {
		.blog-post__info {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 20px;
		}
		.blog-post__image {
			position: relative;
			height: 250px;
			margin-bottom: 0;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, var(--color-black), transparent 90%);
			}
			@media (max-width: $md3) {
				height: 200px;
			}
		}

		.blog-post__time {
			color: var(--color-white);
		}
		.blog-post__time-svg {
			fill: var(--color-white);
		}
		.blog-post__title {
			color: var(--color-white);
		}
	}

	&:nth-child(6n - 1) {
		.blog-post__info {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 20px;
		}
		.blog-post__image {
			position: relative;
			margin-bottom: 0;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, var(--color-black), transparent 90%);
			}
			@media (max-width: $md3) {
				height: 200px;
			}
		}

		.blog-post__time {
			color: var(--color-white);
		}
		.blog-post__time-svg {
			fill: var(--color-white);
		}
		.blog-post__title {
			color: var(--color-white);
		}
	}

	&__article {
		position: relative;

		display: flex;
		flex-direction: column;

		height: 100%;

		@media (any-hover: hover) {
			&:hover {
			}
		}
	}

	&__info {
	}

	&__image {
		flex: 1 1 auto;
		height: 300px;

		margin-bottom: 15px;

		background-color: var(--post-bg);
		@include maxwidth(1500) {
			height: 250px;
		}
		@include maxwidth(1200) {
			height: 200px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__time-info {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	&__time-svg {
		width: 20px;
		height: 20px;
		margin-right: 10px;

		fill: var(--post-time);
	}

	&__time {
		display: block;

		color: var(--post-time);
	}

	&__title {
		font-size: 20px;
	}

	&__tag {
		position: absolute;
		top: 20px;
		left: -1px;

		padding: 5px 10px;

		background-color: var(--post-tag);
		color: var(--color-white);
	}
	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
