.post {
	position: relative;

	display: flex;
	flex-direction: column;

	&__image {
		flex: 1 1 auto;

		display: flex;
		align-items: stretch;
		justify-content: center;

		padding: 10px;
		margin-bottom: 15px;

		background-color: var(--post-bg);
	}

	&__svg {
		width: 100%;
		height: 100%;

		fill: var(--color-font);
		object-fit: contain;
	}

	&__time {
		display: block;
		margin-bottom: 10px;

		color: var(--post-time);
	}

	&__title {
		font-size: 20px;
	}

	&__tag {
		position: absolute;
		top: 20px;
		left: -1px;

		padding: 5px 10px;

		background-color: var(--post-tag);
		color: var(--color-white);
	}
	&__link {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
	}
}
