.portfolio {
	&__container {
		margin-bottom: 80px;
		padding: 0 0 0 55px;

		@media (max-width: 900px) {
			padding: 70px 0 0 0;
		}
		@media (max-height: $md4) and (max-width: 900px) and (orientation: landscape) {
			padding: 60px 50px 0 50px;
		}
	}

	&__info {
		padding: 20px 45px;

		border-bottom: 2px solid var(--color-font);
		@media (max-width: $md2) {
			padding: 20px 20px;
		}

		@media (max-height: $md4) and (max-width: 900px) and (orientation: landscape) {
			padding: 20px 0;
		}
	}

	&__heading {
		margin-bottom: 35px;

		font-size: $fz-heading;
		font-weight: 700;
		text-transform: uppercase;
		@media (max-width: $md3) {
			margin-bottom: 20px;
			font-size: 32px;
		}
	}

	&__descr {
		font-size: $fz-subtext;
		font-weight: 700;
		text-transform: uppercase;
		@media (max-width: $md3) {
			font-size: 24px;
		}
	}

	&__item {
		border-bottom: 2px solid var(--color-font);
	}
}
