<section class="paper">
	<div class="paper__container container">
		<article class="paper__article article">
			<div class="article__promo">
				<div class="article__image">
					<img src="img/blog-post/1.jpg" alt="Обложка статьи" class="article__img">
				</div>
				<div class="article__info">
					<div class="article__time-info">
						<svg class="article__time-svg">
							<use xlink:href="img/sprite.svg#clock"></use>
						</svg>
						<time class="article__time text-reset" datetime="2021-10-29 23:03">
							29 октября 2021
						</time>
					</div>
					<h3 class="article__title text-reset">
						Ура! Сайт в продакшн!
					</h3>
				</div>
				<span class="article__tag">
					Разное
				</span>
			</div>
			<div class="article__content">
				<h2>Hello</h2>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.Далеко-далеко за
					словесными горами в стране гласных и согласных, живут рыбные тексты.Далеко-далеко за словесными горами в
					стране гласных и согласных, живут рыбные тексты.Далеко-далеко за словесными горами в стране гласных и
					согласных, живут рыбные тексты.Далеко-далеко за словесными горами в стране гласных и согласных, живут
					рыбные тексты.Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<img src="img/blog-post/1.jpg" alt="Обложка статьи">
				<h3>Subheading</h3>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.Далеко-далеко за
					словесными горами в стране гласных и согласных, живут рыбные тексты.Далеко-далеко за словесными горами в
					стране гласных и согласных, живут рыбные тексты.Далеко-далеко за словесными горами в стране гласных и
					согласных, живут рыбные тексты.Далеко-далеко за словесными горами в стране гласных и согласных, живут
					рыбные тексты.Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>

				<h4>Subsubheading</h4>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.Далеко-далеко за
					словесными горами в стране гласных и согласных, живут рыбные тексты.Далеко-далеко за словесными горами в
					стране гласных и согласных, живут рыбные тексты.Далеко-далеко за словесными горами в стране гласных и
					согласных, живут рыбные тексты.Далеко-далеко за словесными горами в стране гласных и согласных, живут
					рыбные тексты.Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.Далеко-далеко за
					словесными горами в стране гласных и согласных, живут рыбные тексты.Далеко-далеко за словесными горами в
					стране гласных и согласных, живут рыбные тексты.Далеко-далеко за словесными горами в стране гласных и
					согласных, живут рыбные тексты.Далеко-далеко за словесными горами в стране гласных и согласных, живут
					рыбные тексты.Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<figure>
					<img src="img/cyber-notebook.jpg" alt="Макет Createx Online Courses">
					<figcaption>Макет Createx Online Courses</figcaption>
				</figure>
				<h5>Subsubsubheading</h5>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<ul>
					<li>Далеко-далеко за словесными горами в стране.</li>
					<li>Далеко-далеко за словесными горами в стране.</li>
					<li>Далеко-далеко за словесными горами в стране.</li>
					<li>Далеко-далеко за словесными горами в стране.</li>
					<li>Далеко-далеко за словесными горами в стране.</li>
				</ul>
				<p class="codepen" data-height="500" data-theme-id="dark" data-default-tab="html,result"
					data-slug-hash="NWpGqaE" data-preview="true" data-user="grafit_off"
					style="height: 500px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
					<span>See the Pen <a href="https://codepen.io/grafit_off/pen/NWpGqaE">
							Accessible custom checkbox</a> by grafit_off (<a
							href="https://codepen.io/grafit_off">@grafit_off</a>)
						on <a href="https://codepen.io">CodePen</a>.</span>
				</p>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.</p>
				<strong>STRONG!</strong>
				<a href="">Куда-то</a>
			</div>
		</article>
		<aside class="paper__aside aside">
			<div class="aside__content">
				<h2 class="aside__title text-reset">
					Последние статьи:
				</h2>
				<ul class="aside__list list-reset">
					<li class="aside__item aside-item">
						<div class="aside-item__article">
							<div class="aside-item__image">
								<img src="img/blog-post/1.jpg" alt="Обложка статьи" class="aside-item__img">
							</div>
							<div class="aside-item__info">
								<div class="aside-item__time-info">
									<time class="aside-item__time text-reset" datetime="2021-10-29 23:03">
										29 октября 2021
									</time>
									<svg class="aside-item__time-svg">
										<use xlink:href="img/sprite.svg#clock"></use>
									</svg>
								</div>
								<h3 class="aside-item__title text-reset">
									Ура! Сайт в продакшн!
								</h3>
							</div>
							<span class="aside-item__tag">
								Разное
							</span>
							<a href="#" class="aside-item__link link-reset" aria-label="Перейти к статье"></a>
						</div>
					</li>
					<li class="aside__item aside-item">
						<div class="aside-item__article">
							<div class="aside-item__image">
								<img src="img/blog-post/1.jpg" alt="Обложка статьи" class="aside-item__img">
							</div>
							<div class="aside-item__info">
								<div class="aside-item__time-info">
									<time class="aside-item__time text-reset" datetime="2021-10-29 23:03">
										29 октября 2021
									</time>
									<svg class="aside-item__time-svg">
										<use xlink:href="img/sprite.svg#clock"></use>
									</svg>
								</div>
								<h3 class="aside-item__title text-reset">
									Ура! Сайт в продакшн!
								</h3>
							</div>
							<span class="aside-item__tag">
								Разное
							</span>
							<a href="#" class="aside-item__link link-reset" aria-label="Перейти к статье"></a>
						</div>
					</li>
					<li class="aside__item aside-item">
						<div class="aside-item__article">
							<div class="aside-item__image">
								<img src="img/blog-post/1.jpg" alt="Обложка статьи" class="aside-item__img">
							</div>
							<div class="aside-item__info">
								<div class="aside-item__time-info">
									<time class="aside-item__time text-reset" datetime="2021-10-29 23:03">
										29 октября 2021
									</time>
									<svg class="aside-item__time-svg">
										<use xlink:href="img/sprite.svg#clock"></use>
									</svg>
								</div>
								<h3 class="aside-item__title text-reset">
									Ура! Сайт в продакшн!
								</h3>
							</div>
							<span class="aside-item__tag">
								Разное
							</span>
							<a href="#" class="aside-item__link link-reset" aria-label="Перейти к статье"></a>
						</div>
					</li>
					<li class="aside__item aside-item">
						<div class="aside-item__article">
							<div class="aside-item__image">
								<img src="img/blog-post/1.jpg" alt="Обложка статьи" class="aside-item__img">
							</div>
							<div class="aside-item__info">
								<div class="aside-item__time-info">
									<time class="aside-item__time text-reset" datetime="2021-10-29 23:03">
										29 октября 2021
									</time>
									<svg class="aside-item__time-svg">
										<use xlink:href="img/sprite.svg#clock"></use>
									</svg>
								</div>
								<h3 class="aside-item__title text-reset">
									Ура! Сайт в продакшн!
								</h3>
							</div>
							<span class="aside-item__tag">
								Разное
							</span>
							<a href="#" class="aside-item__link link-reset" aria-label="Перейти к статье"></a>
						</div>
					</li>
					<li class="aside__item aside-item">
						<div class="aside-item__article">
							<div class="aside-item__image">
								<img src="img/blog-post/1.jpg" alt="Обложка статьи" class="aside-item__img">
							</div>
							<div class="aside-item__info">
								<div class="aside-item__time-info">
									<time class="aside-item__time text-reset" datetime="2021-10-29 23:03">
										29 октября 2021
									</time>
									<svg class="aside-item__time-svg">
										<use xlink:href="img/sprite.svg#clock"></use>
									</svg>
								</div>
								<h3 class="aside-item__title text-reset">
									Ура! Сайт в продакшн!
								</h3>
							</div>
							<span class="aside-item__tag">
								Разное
							</span>
							<a href="#" class="aside-item__link link-reset" aria-label="Перейти к статье"></a>
						</div>
					</li>
				</ul>
			</div>
		</aside>
		<div class="paper__author author-info">
			<div class="author-info__image">
				<svg class="author-info__svg">
					<use xlink:href="img/sprite.svg#G-min"></use>
				</svg>
			</div>
			<div class="author-info__content">
				<h3 class="author-info__heading text-reset">
					Об авторе
				</h3>
				<div class="author-info__name">
					Николай Чёрный
				</div>
				<p class="author-info__text text-reset">
					Привет! Я верстальщик, который специализируется на создании веб-сайтов разной сложности с использованием
					семантической и доступной разметки придерживаясь рекомендаций W3C и WAI-ARIA.
					Имею некоммерческий опыт разработки адаптивно-отзывчивых web-сайтов и готов выполнить ваш заказ в
					кратчайшие
					сроки с максимальным качеством!
				</p>
				<p class="author-info__text text-reset">
					Связатья со мной можно по ссылкам соц. сетей в навигации!
				</p>
			</div>
		</div>
	</div>
</section>