<section class="blog section">
	<div class="blog__container container">
		<h1 class="blog__heading text-reset">Блог веб-разработчика GRAFIT-OFF</h1>
		<h2 class="visually-hidden">Список статей блога</h2>
		<ul class="blog__list list-reset">
			<li class="blog__item blog-post">
				<article class="blog-post__article">
					<div class="blog-post__image">
						<img src="img/cyber-notebook.jpg" alt="Обложка статьи" class="blog-post__img">
					</div>
					<div class="blog-post__info">
						<div class="blog-post__time-info">
							<svg class="blog-post__time-svg">
								<use xlink:href="img/sprite.svg#clock"></use>
							</svg>
							<time class="blog-post__time text-reset" datetime="2021-10-29 23:03">
								29 октября 2021
							</time>
						</div>
						<h3 class="blog-post__title text-reset">
							Ура! Сайт в продакшн!
						</h3>
					</div>
					<span class="blog-post__tag">Разное</span>
					<a href="article.html" class="blog-post__link link-reset" aria-label="Перейти к посту"></a>
				</article>
			</li>
		</ul>
	</div>
</section>