<section class="hero" id="hero">
	<div class="hero__container ">
		<strong class="hero__strong text-reset">
			Веб-разработчик
		</strong>
		<div class="hero__columns">
			<div class="hero__name">
				Чёрный Николай
			</div>
			<a href="portfolio.html" class="hero__portfolio link-reset">
				портфолио
				<svg class="hero__arrow">
					<use xlink:href="img/sprite.svg#arrow"></use>
				</svg>
			</a>
		</div>
		<h1 class="hero__heading text-reset">Создание веб-сайтов разной сложности с использованием семантической и доступной разметки, придерживаясь рекомендаций W3C и WAI-ARIA</h1>
		<div class="hero__row">
			<h2 class="hero__subheading text-reset">Последние работы</h2>
			<ul class="hero__list list-reset">
				<li class="hero__item">
					<a href="https://grafit-off.github.io/Zooov/build/" class="hero__link link-reset" target="_blank" rel="noopener noreferrer">Магазин здорового питания для питомцев </a>
				</li>
				<li class="hero__item">
					<a href="https://grafit-off.github.io/streetster/" class="hero__link link-reset" target="_blank" rel="noopener noreferrer">Магазин велосипедов StreetSter </a>
				</li>
				<li class="hero__item">
					<a href="https://grafit-off.github.io/makeface/" class="hero__link link-reset" target="_blank" rel="noopener noreferrer">Интенсив по наращиванию ресниц </a>
				</li>
				<li class="hero__item">
					<a href="https://grafit-off.github.io/nocoins/build/" class="hero__link link-reset" target="_blank" rel="noopener noreferrer">Платформа "Нетмонет" </a>
				</li>
				<li class="hero__item">
					<a href="https://grafit-off.github.io/Dream-Car/build/" class="hero__link link-reset" target="_blank" rel="noopener noreferrer">Магазин ковриков для авто</a>
				</li>
			</ul>
		</div>
	</div>
</section>