<section class="promo-blog">
	<div class="promo-blog__container ">
		<div class="promo-blog__info">
			<h2 class="promo-blog__heading text-reset">
				Переходите ко мне в
				<a href="blog.html" class="promo-blog__link link-reset">
					Блог
				</a>
			</h2>
			<p class="promo-blog__descr text-reset">
				Там я рассказываю о разных интересных фишках, обновлениях и о своей жизни
			</p>
		</div>
		<div class="promo-blog__grid">
			<article class="promo-blog__post post">
				<div class="post__image">
					<svg class="post__svg">
						<use xlink:href="img/sprite.svg#blog-walp"></use>
					</svg>
				</div>
				<div class="post__info">
					<time class="post__time text-reset" datetime="2021-10-29 23:03">
						29 октября 2021
					</time>
					<h3 class="post__title text-reset">
						Ура! Сайт в продакшн!
					</h3>
				</div>
				<span class="post__tag">Разное</span>
				<a href="#" class="post__link link-reset" aria-label="Перейти к посту"></a>
			</article>
			<article class="promo-blog__post post">
				<div class="post__image">
					<svg class="post__svg">
						<use xlink:href="img/sprite.svg#blog-walp3"></use>
					</svg>
				</div>
				<div class="post__info">
					<time class="post__time text-reset" datetime="2021-10-29 23:03">
						29 октября 2021
					</time>
					<h3 class="post__title text-reset">
						Далеко-далеко за словесными горами в стране.
					</h3>
				</div>
				<span class="post__tag">Полезное</span>
				<a href="#" class="post__link link-reset" aria-label="Перейти к посту"></a>
			</article>
			<article class="promo-blog__post post">
				<div class="post__image">
					<svg class="post__svg">
						<use xlink:href="img/sprite.svg#blog-walp2"></use>
					</svg>
				</div>
				<div class="post__info">
					<time class="post__time text-reset" datetime="2021-10-29 23:03">
						29 октября 2021
					</time>
					<h3 class="post__title text-reset">
						Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
					</h3>
				</div>
				<span class="post__tag">Новости</span>
				<a href="#" class="post__link link-reset" aria-label="Перейти к посту"></a>
			</article>
		</div>
	</div>
</section>