.footer {
	padding-left: 60px;
	@media (max-width: $md3+px) {
		padding: 0px;
	}
	&__container {
		position: relative;
		z-index: 1;

		display: block;
		padding: 20px 0;

		border-top: 2px solid var(--color-font);

		line-height: 1;
		text-align: center;
	}
}
