.footer {
	&__container {
		padding-left: 100px;
		padding-right: 60px;

		@media (max-width: $md2) {
			padding: 0 20px;
		}
		@include maxwidth(815) {
			padding: 0 20px;
		}
	}
	&__strong {
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;

		border-top: 2px solid var(--color-font);

		line-height: 1;
		text-align: center;
	}
}
